-- Jadual achievements
CREATE TABLE IF NOT EXISTS achievements (
  id VARCHAR(50) PRIMARY KEY,
  name VARCHAR(100) NOT NULL,
  description TEXT,
  icon VARCHAR(50) NOT NULL,
  color VARCHAR(20) NOT NULL,
  xp_reward INT NOT NULL DEFAULT 0,
  type VARCHAR(20) NOT NULL,
  category VARCHAR(20),
  reward_image VARCHAR(255)
);

-- INSERT achievements
